.frontmatter-markdown-links {
  &.text-property-component.metadata-property-value {
    flex: none;
    gap: 0;

    .metadata-link, .metadata-input-longtext {
      &:not(:first-child) {
        padding-left: 0;
      }

      &:not(:last-child) {
        padding-right: 0;
      }
    }

    .metadata-link-flair {
      display: none;
    }
  }

  &.multi-text-property-component {
    display: flex;
    flex: none;
    gap: 0;
  }
}
